*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background: #E5E5E5;
}

h1{
    text-align: center;
}

main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

.form{ 
    /*colocamos el formulario en 1 columnas. Usamos tipo "grid"*/
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;/*espaciado entre cada elemento de nuestro "grid"*/
}

.form__label{
    display: block; /*para que abarque el 100%*/
    font-weight: 700; /*negrita*/
    padding: 10px;
    cursor: pointer;
}

.form__input{
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0px 40px 0px 10px;
    transition: .3s ease all;

}

.form__input:focus{
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

#grupo__btn-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-submit{
    height: 45px; 
   line-height: 45px;
   width: 100%;
   background: #000;
   color: #fff;
   font-weight: bold;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   transition: .1s ease all; 
}

#btn-submit:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

#form-messages{
    background-color: rgb(255, 232, 232);
    border: 1px solid red;
    color: red;
    display: none;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 25px;
    max-width: 250px;
}